// Stylus Modules

@import _LeftNavigation
@import _Grid_responsive
@import _Color
@import "../../theme"
@import _Header
@import _Form
@import _List
@import _Table
@import _Utility
@import _Toastr
@import _Loader
@import _Tab
@import _SearchBar
@import _Tag
@import _font
@import _Authentication
@import _ProgressBar
@import _Breadcrumbs
@import _RightVerticalNav
@import _HorizontalNav
@import _FloatingButton
@import _TabsNew
@import _Stepper
@import _Cropper
@import _PageTabs
@import _ResizableTable
@import _Pagination
@import _Popup
@import _UserProfile
@import _OrgChartModal
@import stepper
@import _Task
@import _CompareCar
@import _FormWizard
@import _Login
@import _taskDetail
@import _taskDetailv2
@import _Widget1
@import _Workspace
@import _RightInfoPanel
@import _RightDrawer
@import _Animation
@import _ListCard
@import _DayPlan
@import _ProseMirror
@import _TaskListDetailHeader
@import _TaskListDetailTags
@import _TaskListDetailSummary
@import _Icons
@import _QuotationPDF
@import _HorizontalStepper
@import _draggableTag
@import _MaterializeStepper
